<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
<%= f.error_notification %>

  <%= f.input :username, :placeholder => 'Anonymous' %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <div class='control-group'>
    <label for='first_name' class='control-label'>First Name</label>
    
    <div class='controls'>
      <input type='text' name='first_name' id='first_name' />
    </div>
  </div>

  <div class='control-group'>
    <label for='last_name' class='control-label'>Last Name</label>
    
    <div class='controls'>
      <input type='text' name='last_name' id='last_name' />
    </div>
  </div>

  <div class='control-group'>
  	<label for='color' class='control-label'>Color Choice</label>
	  
	  <div class='controls'>
	  	<select name='color' id='color'>
	  		<option value='black'>black
	  		<option value='white'>white
        <option value='red'>red
        <option value='green'>green
        <option value='blue'>blue
        <option value='yellow'>yellow
        <option value='purple'>purple
        <option value='orange'>orange

	  	</select>
	  </div>
  </div>

  <div class='terms'>

        <%= render 'layouts/terms' %>

  </div>
<!--

 <div id="wufoo-z7x3p3">
Fill out my <a href="http://chadwoods.wufoo.com/forms/z7x3p3">online form</a>.
</div>
<script type="text/javascript">var z7x3p3;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'chadwoods', 
'formHash':'z7x3p3', 
'autoResize':true,
'height':'488',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z7x3p3 = new WufooForm();z7x3p3.initialize(options);z7x3p3.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

-->


  <div class="form-actions">
  	<%= f.submit "Sign up", class: "btn btn-danger" %></div>
<% end %>

<%= render "devise/shared/links" %>
