<tr>
      <td><%= doll.name %></td>
      <td><%= doll.city %></td>
      <td><%= doll.state %></td>
      <td><%= doll.tag %></td>
      <td><%= link_to 'Show', doll %></td>
      <% if current_user == doll.user %>
      <td><%= link_to 'Edit', edit_doll_path(doll) %></td>
      <td><%= link_to 'Destroy', doll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>