<h1>Listing dolls</h1>

<%= form_tag dolls_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Tag</th>
      <th></th>
      <th></th>
      <th></th>
  </tr>
</thead>

  <tbody>
      <%= render @dolls %>  
  </tbody>
</table>

<br />

<%= link_to 'New Doll', new_doll_path %>
