<div class="row">
	<div class="span8" id="dollbox">
		<div class="dollwraper">
			<div id="top">
				<div id="head">
				<%= image_tag "head.png" %>
				</div>	
			</div>

			<div id="mid">
				<div id="larm">
				<%= image_tag "larm.png" %>
				</div>
				<div id="shirt">
				<%= image_tag "shirt-test.png" %>
					<div id="shirt-color"style="display:none;">
					<a href="#" class="btn small" id="cp4" data-color-format="hex" data-color="rgb(255, 255, 255)">X</a>
					</div>
				</div>
				<div id="rarm">
				<%= image_tag "rarm.png" %> 
				</div>    	
			</div>
			<div id="bot">
				<div id="legs">
				<%= image_tag "legs.png" %>
				</div>	
			</div>
            <div id='pins'>
                <% @doll.pins.each do |pin| %>
                    <div class='pin <%= pin.color %>' style='position: absolute; top: <%= pin.coordinate_y %>px; left: <%= pin.coordinate_x %>px;'>
                        <div class="pwrap">
                        <span><%= pin.coordinate_x %>, <%= pin.coordinate_y %></span>
                        <p><%= pin.description %></p>
                        </div>
                    </div>
                <% end %>
            </div>
		</div>
		<div class="dollinfo">

		<h1><%= @doll.name %></h1>
		<h5><%= @doll.city %> :: <%= @doll.state %></h5>
		<h6><%= @doll.tag %></h6>
        <div id='doll_id'><%= @doll.id.to_s %></div>
        </div>
	</div>

<% if user_signed_in? %>

	<div class="span4">
		<div class="pinboxli">

            <div id="blackpin" style="width:23px; background-image:url('/assets/blackpin.png');">
            <div id="blackbody">
            <%= image_tag "blackbody3.png" %>
            </div>
                 <div id="pininput" style="display:none;">
                    <%= render :partial => 'pins/form', :locals => { :color => 'black' } %>
                </div>
            </div>	
			
            <div id="redpin" style="width:23px; background-image:url('/assets/redpin.png');">
            <div id="redbody">
            <%= image_tag "redbody.png" %>
            </div>
                 <div id="pininput2" style="display:none;">
                    <%= render :partial => 'pins/form', :locals => { :color => 'red' } %>
                </div>
            </div>  

            <div id="yellowpin" style="width:23px; background-image:url('/assets/yellowpin.png');">
            <div id="yellowbody">
            <%= image_tag "redbody.png" %>
            </div>
                 <div id="pininput3" style="display:none;">
                    <%= render :partial => 'pins/form', :locals => { :color => 'yellow' } %>
                </div>
            </div>  

            <div id="bluepin" style="width:23px; background-image:url('/assets/bluepin.png');">
            <div id="bluebody">
            <%= image_tag "redbody.png" %>
            </div>
                 <div id="pininput4" style="display:none;">
                    <%= render :partial => 'pins/form', :locals => { :color => 'blue' } %>
                </div>
            </div>  

            <div id="greenpin" style="width:23px; background-image:url('/assets/greenpin.png');">
            <div id="greenbody">
            <%= image_tag "redbody.png" %>
            </div>
                 <div id="pininput5" style="display:none;">
                    <%= render :partial => 'pins/form', :locals => { :color => 'green' } %>
                </div>
            </div> 

             <div id="whitepin" style="width:23px; background-image:url('/assets/whitepin.png');">
            <div id="whitebody">
            <%= image_tag "redbody.png" %>
            </div>
                 <div id="pininput6" style="display:none;">
                    <%= render :partial => 'pins/form', :locals => { :color => 'white' } %>
                </div>
            </div>

		</div>
	</div>
</div>
	


  


<!-- Black Pin -->

<script>

 $('#blackpin').draggable(
    {
containment: $('.span8'),
 start: function(event, ui){
            var offset = $(this).offset();
            var xPos = offset.left;
            var yPos = offset.top;
            $('#posX').text('x: ' + xPos);
            $('#posY').text('y: ' + yPos);
            $("#blackpin").css("width","23px");

            $(ui.helper).css('margin-left', event.clientX - $(event.target).offset().left)
            $(ui.helper).css('margin-top', event.clientY - $(event.target).offset().top)
        },

        
        drag: function(event, ui){
            var offset = $(this).offset();
            var xPos = offset.left;
            var yPos = offset.top;
            $('#posX').text('x: ' + xPos);
            $('#posY').text('y: ' + yPos);
            $("#blackpin").css("width","23px");
            $("#blackpin").css("height","23px");
            $("#pininput").css("display","none");
            $("#blackbody").css("display","none");

        },

        

        stop: function(event, ui){
            var finalOffset = $(this).offset();
            var finalxPos = finalOffset.left;
            var finalyPos = finalOffset.top;

            $('#finalX').text('Final X: ' + finalxPos);
            $('#finalY').text('Final y: ' + finalyPos);
            $("#blackpin").css("width","23px");
            $("#pininput").css("display","inline");

        },
    });

    $('.new_pin').on('submit', function (e) {
        e.preventDefault();

        $.ajax({
            type: 'post',
            url: '/pins.json',
            beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
            data: {
                pin: {
                    color: $(this).attr('rel'),
                    coordinate_x: $(this).closest('.ui-draggable').offset().left,
                    coordinate_y: $(this).closest('.ui-draggable').offset().top,
                    description: $(this).find('#pin_description').val()
                },
                doll_id: $('#doll_id').text()
            },
            success: function (data) {
                console.log('it works')
                location.reload()
            },
            fail: function (data) {
                console.log('nope')
            }
        })
    })
 </script>


<!-- Red Pin -->

<script>

 $('#redpin').draggable(
    {
containment: $('.span8'),
 start: function(event, ui){
            var offset = $(this).offset();
            var xPos = offset.left;
            var yPos = offset.top;
            $('#posX').text('x: ' + xPos);
            $('#posY').text('y: ' + yPos);
            $("#redpin").css("width","23px");

            $(ui.helper).css('margin-left', event.clientX - $(event.target).offset().left)
            $(ui.helper).css('margin-top', event.clientY - $(event.target).offset().top)
        },

        
        drag: function(event, ui){
            var offset = $(this).offset();
            var xPos = offset.left;
            var yPos = offset.top;
            $('#posX').text('x: ' + xPos);
            $('#posY').text('y: ' + yPos);
            $("#redpin").css("width","23px");
            $("#redpin").css("height","23px");
            $("#pininput2").css("display","none");
            $("#redbody").css("display","none");
            $("#redpin").css('background-image', 'url("/assets/redpind.png")');
           

        },

        

        stop: function(event, ui){
            var finalOffset = $(this).offset();
            var finalxPos = finalOffset.left;
            var finalyPos = finalOffset.top;

            $('#finalX').text('Final X: ' + finalxPos);
            $('#finalY').text('Final y: ' + finalyPos);
            $("#redpin").css("width","23px");
            $("#pininput2").css("display","inline");

        },
    });

 </script>

<!-- Yellow Pin -->

<script>

 $('#yellowpin').draggable(
    {
containment: $('.span8'),
 start: function(event, ui){
            var offset = $(this).offset();
            var xPos = offset.left;
            var yPos = offset.top;
            $('#posX').text('x: ' + xPos);
            $('#posY').text('y: ' + yPos);
            $("#yellowpin").css("width","23px");

            $(ui.helper).css('margin-left', event.clientX - $(event.target).offset().left)
            $(ui.helper).css('margin-top', event.clientY - $(event.target).offset().top)
        },

        
        drag: function(event, ui){
            var offset = $(this).offset();
            var xPos = offset.left;
            var yPos = offset.top;
            $('#posX').text('x: ' + xPos);
            $('#posY').text('y: ' + yPos);
            $("#yellowpin").css("width","23px");
            $("#yellowpin").css("height","23px");
            $("#pininput3").css("display","none");
            $("#yellowbody").css("display","none");
            $("#yellowpin").css('background-image', 'url("/assets/yellowpind.png")');
           

        },

        

        stop: function(event, ui){
            var finalOffset = $(this).offset();
            var finalxPos = finalOffset.left;
            var finalyPos = finalOffset.top;

            $('#finalX').text('Final X: ' + finalxPos);
            $('#finalY').text('Final y: ' + finalyPos);
            $("#yellowpin").css("width","23px");
            $("#pininput3").css("display","inline");

        },
    });

 </script>


<!-- Blue Pin -->

<script>

 $('#bluepin').draggable(
    {
containment: $('.span8'),
 start: function(event, ui){
            var offset = $(this).offset();
            var xPos = offset.left;
            var yPos = offset.top;
            $('#posX').text('x: ' + xPos);
            $('#posY').text('y: ' + yPos);
            $("#bluepin").css("width","23px");

            $(ui.helper).css('margin-left', event.clientX - $(event.target).offset().left)
            $(ui.helper).css('margin-top', event.clientY - $(event.target).offset().top)
        },

        
        drag: function(event, ui){
            var offset = $(this).offset();
            var xPos = offset.left;
            var yPos = offset.top;
            $('#posX').text('x: ' + xPos);
            $('#posY').text('y: ' + yPos);
            $("#bluepin").css("width","23px");
            $("#bluepin").css("height","23px");
            $("#pininput4").css("display","none");
            $("#bluebody").css("display","none");
            $("#bluepin").css('background-image', 'url("/assets/bluepind.png")');
           

        },

        

        stop: function(event, ui){
            var finalOffset = $(this).offset();
            var finalxPos = finalOffset.left;
            var finalyPos = finalOffset.top;

            $('#finalX').text('Final X: ' + finalxPos);
            $('#finalY').text('Final y: ' + finalyPos);
            $("#bluepin").css("width","23px");
            $("#pininput4").css("display","inline");

        },
    });

 </script>




 <!-- green Pin -->

<script>

 $('#greenpin').draggable(
    {
containment: $('.span8'),
 start: function(event, ui){
            var offset = $(this).offset();
            var xPos = offset.left;
            var yPos = offset.top;
            $('#posX').text('x: ' + xPos);
            $('#posY').text('y: ' + yPos);
            $("#greenpin").css("width","23px");

            $(ui.helper).css('margin-left', event.clientX - $(event.target).offset().left)
            $(ui.helper).css('margin-top', event.clientY - $(event.target).offset().top)
        },

        
        drag: function(event, ui){
            var offset = $(this).offset();
            var xPos = offset.left;
            var yPos = offset.top;
            $('#posX').text('x: ' + xPos);
            $('#posY').text('y: ' + yPos);
            $("#greenpin").css("width","23px");
            $("#greenpin").css("height","23px");
            $("#pininput5").css("display","none");
            $("#greenbody").css("display","none");
            $("#greenpin").css('background-image', 'url("/assets/greenpind.png")');
           

        },

        

        stop: function(event, ui){
            var finalOffset = $(this).offset();
            var finalxPos = finalOffset.left;
            var finalyPos = finalOffset.top;

            $('#finalX').text('Final X: ' + finalxPos);
            $('#finalY').text('Final y: ' + finalyPos);
            $("#greenpin").css("width","23px");
            $("#pininput5").css("display","inline");

        },
    });

 </script>


 <!-- white Pin -->

<script>

 $('#whitepin').draggable(
    {
containment: $('.span8'),
 start: function(event, ui){
            var offset = $(this).offset();
            var xPos = offset.left;
            var yPos = offset.top;
            $('#posX').text('x: ' + xPos);
            $('#posY').text('y: ' + yPos);
            $("#whitepin").css("width","23px");

            $(ui.helper).css('margin-left', event.clientX - $(event.target).offset().left)
            $(ui.helper).css('margin-top', event.clientY - $(event.target).offset().top)
        },

        
        drag: function(event, ui){
            var offset = $(this).offset();
            var xPos = offset.left;
            var yPos = offset.top;
            $('#posX').text('x: ' + xPos);
            $('#posY').text('y: ' + yPos);
            $("#whitepin").css("width","23px");
            $("#whitepin").css("height","23px");
            $("#pininput6").css("display","none");
            $("#whitebody").css("display","none");
            $("#whitepin").css('background-image', 'url("/assets/whitepind.png")');
           

        },

        

        stop: function(event, ui){
            var finalOffset = $(this).offset();
            var finalxPos = finalOffset.left;
            var finalyPos = finalOffset.top;

            $('#finalX').text('Final X: ' + finalxPos);
            $('#finalY').text('Final y: ' + finalyPos);
            $("#whitepin").css("width","23px");
            $("#pininput6").css("display","inline");

        },
    });

 </script>


<% else %>

    <div class="span4">
        <div class="pinboxlo">     
        </div>
       
        <div class="dollsignup">
        <div class="well">
            <h1>Start Pinning</h1>
                <h5> All of the little things that wriggle through that, black part of your heart.  </h5>
            <%= link_to "Join now", new_user_registration_path , class: "btn btn-danger " %>
            <div class="findus">
                <h2>Serviteurs Konesans</h2>
                <div class="row">
                    <div class="span1">                 
                        <div class="dollsociall">
                          <a href="http://www.facebook.com/pages/Black-Voodoo-Pin/228155813990889" target="_blank">
                            <div class="icon"> 
                              </div>
                            </a>
                        </div>
                    </div>                 

                        <div class="span1">                 
                        <div class="dollsocialc">
                                <a href="http://www.reddit.com/r/blackvoodoopin/" target="_blank">
                            <div class="icon"> 
                              </div>
                            </a>
                        </div>
                    </div>
                        <div class="span1">                 
                            <div class="dollsocialr">
                                <a href="https://twitter.com/VoodooPin" target="_blank">
                            <div class="icon">
                            </div>
                            </a>
                        </div>
                    </div>

                 
                </div>
            </div>
        </div>
    </div>
</div>

<% end %>

 <!-- 
Shhh nothing is in this part.... walk away...slowly...thats right..  
	No shhh shh shh. go.
	-in the voice of Kristen Schaal-->
