<div class="row">
	<div class="span8" id="dollbox">
		<div class="dollwraper">
			<div id="top">
				<div id="head">
				<%= image_tag "head.png" %>
				</div>	
			</div>

			<div id="mid">
				<div id="larm">
				<%= image_tag "larm.png" %>
				</div>
				<div id="shirt">
				<%= image_tag "shirt-test.png" %>
					<div id="shirt-color"style="display:none;">
					<a href="#" class="btn small" id="cp4" data-color-format="hex" data-color="rgb(255, 255, 255)">X</a>
					</div>
				</div>
				<div id="rarm">
				<%= image_tag "rarm.png" %> 
				</div>    	
			</div>
			<div id="bot">
				<div id="legs">
				<%= image_tag "legs.png" %>
				</div>	
			</div>
            <div id='pins'>
                <% @doll.pins.each do |pin| %>
                    <div class='pin' style='position: absolute; top: <%= pin.coordinate_y %>px; left: <%= pin.coordinate_x %>px;'>
                        <span><%= pin.coordinate_x %>, <%= pin.coordinate_y %></span>
                        <p><%= pin.description %></p>
                    </div>
                <% end %>
            </div>
		</div>
		<div class="dollinfo">

		<h1><%= @doll.name %></h1>
		<h5><%= @doll.city %> :: <%= @doll.state %></h5>
		<h6><%= @doll.tag %></h6>
        <div id='doll_id'><%= @doll.id.to_s %></div>
		<%= link_to 'Edit', edit_doll_path(@doll) %> |
		<%= link_to 'Back', dolls_path %>
		</div>
	</div>

<% if user_signed_in? %>

	<div class="span4">
		<div class="pinboxli">

            <div id="dragThis" style="width:23px;">
            <%= image_tag "blackpin.png" %>
            <div id="blackbody">
            <%= image_tag "pinbody.png" %>
            </div>
                 <div id="pininput" style="display:none;">
                    <%= render 'pins/form' %>
                </div>
            </div>	
			
            <div id="dragThis2" style="width:23px;">
            <%= image_tag "redpin.png" %>
            <div id="blackbody2">
            <%= image_tag "redbody.png" %>
            </div>
                 <div id="pininput2" style="display:none;">
                    <%= render 'pins/form' %>
                </div>
            </div>  



		</div>
	</div>
</div>
	


  

<!-- Drag -->


<script>

 $('#dragThis').draggable(
    {
containment: $('.span8'),
 start: function(event, ui){
            var offset = $(this).offset();
            var xPos = offset.left;
            var yPos = offset.top;
            $('#posX').text('x: ' + xPos);
            $('#posY').text('y: ' + yPos);
            $("#dragThis").css("width","23px");

            $(ui.helper).css('margin-left', event.clientX - $(event.target).offset().left)
            $(ui.helper).css('margin-top', event.clientY - $(event.target).offset().top)
        },

        
        drag: function(event, ui){
            var offset = $(this).offset();
            var xPos = offset.left;
            var yPos = offset.top;
            $('#posX').text('x: ' + xPos);
            $('#posY').text('y: ' + yPos);
            $("#dragThis").css("width","23px");
            $("#dragThis").css("height","23px");
            $("#pininput").css("display","none");
            $("#blackbody").css("display","none");

        },

        

        stop: function(event, ui){
            var finalOffset = $(this).offset();
            var finalxPos = finalOffset.left;
            var finalyPos = finalOffset.top;

            $('#finalX').text('Final X: ' + finalxPos);
            $('#finalY').text('Final y: ' + finalyPos);
            $("#dragThis").css("width","23px");
            $("#pininput").css("display","inline");

        },
    });

    $('.new_pin').on('submit', function (e) {
        e.preventDefault();

        $.ajax({
            type: 'post',
            url: '/pins.json',
            beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
            data: {
                pin: {
                    coordinate_x: $(this).closest('.ui-draggable').offset().left,
                    coordinate_y: $(this).closest('.ui-draggable').offset().top,
                    description: $(this).find('#pin_description').val()
                },
                doll_id: $('#doll_id').text()
            },
            success: function (data) {
                console.log('it works')
                location.reload()
            },
            fail: function (data) {
                console.log('nope')
            }
        })
    })
 </script>

<script>

 $('#dragThis2').draggable(
    {
containment: $('.span8'),
 start: function(event, ui){
            var offset = $(this).offset();
            var xPos = offset.left;
            var yPos = offset.top;
            $('#posX').text('x: ' + xPos);
            $('#posY').text('y: ' + yPos);
            $("#dragThis2").css("width","23px");

            $(ui.helper).css('margin-left', event.clientX - $(event.target).offset().left)
            $(ui.helper).css('margin-top', event.clientY - $(event.target).offset().top)
        },

        
        drag: function(event, ui){
            var offset = $(this).offset();
            var xPos = offset.left;
            var yPos = offset.top;
            $('#posX').text('x: ' + xPos);
            $('#posY').text('y: ' + yPos);
            $("#dragThis2").css("width","23px");
            $("#dragThis2").css("height","23px");
            $("#pininput2").css("display","none");
            $("#blackbody2").css("display","none");
            $("#dragThis2").css('background-color', 'yellow');

            $("#dragThis2").css('background-image', 'url("blackpin.png")');
           

        },

        

        stop: function(event, ui){
            var finalOffset = $(this).offset();
            var finalxPos = finalOffset.left;
            var finalyPos = finalOffset.top;

            $('#finalX').text('Final X: ' + finalxPos);
            $('#finalY').text('Final y: ' + finalyPos);
            $("#dragThis2").css("width","23px");
            $("#pininput2").css("display","inline");

        },
    });

 </script>






<% else %>

    <div class="span4">
        <div class="pinboxlo">     
        </div>
        <div class="dollsignup">
        <div class="well">
            <h1>Sign up </h1>
                <h5> Add your own pins to any doll or make your own. </h5>
            <%= link_to "Join now", new_user_registration_path , class: "btn btn-primary btn-small" %>
            <div class="findus">
                <h2>Find Us</h2>
                <div class="row">
                    <div class="span1">
                    <%= image_tag "facebook.png" %> 
                    </div>
                    <div class="span1">
                    <%= image_tag "facebook.png" %> 
                    </div>
                    <div class="span1">
                    <%= image_tag "facebook.png" %> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% end %>


<!-- Shhh nothing is in this part.... walk away...slowly...thats right..  
	No shhh shh shh. go.
	-in the voice of Kristen Schaal-
