

<% if user_signed_in? %>

<div class="row">
	<div class="span8">


	<div id="slider" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <a href="./dolls/new">
            <%= image_tag "logo_slider.png" %>
            </a>
            <div class="carousel-caption">
              <p>Dolls With Souls: You have the freedom</p>
              <p><%= link_to "Freedom of shoving any soul of your choosing into a little doll's body.", new_doll_path %></p>
            </div>
          </div>
          <div class="item">
            <a href="./rooms.html">
            <%= image_tag "logo_slider2.png" %>
            </a>
            <div class="carousel-caption">
              <p>Curse With Caution: Just a warning</p>
              <p><a href="./rooms.html">These curses are not to be taken lightly. They can come with great repercussions.</a></p>
            </div>
          </div>
          <div class="item">
            <a href="./media.html">
            <%= image_tag "logo_slider3.png" %>
            </a>
            <div class="carousel-caption">
              <p>Feed the addiction, let the pins flow through the flesh freely</p>
              <p><a href="./media.html">Exhale. Smile with sadistic pleasure.</a></p>
            </div>
          </div>
          <div class="item">
            <a href="./lifestyle.html">
            <%= image_tag "logo_slider4.png" %>
            </a>
            <div class="carousel-caption">
              <p>Don't let your doll hide in shame.</p>
              <p><a href="./lifestyle.html">They were stabbed for a reason, inform the internet world of that reason.</a></p>
            </div>
          </div>

          <div class="item">
            <a href="./rooms.html">
            <%= image_tag "logo_slider5.png" %>
            </a>
            <div class="carousel-caption">
              <p>You Couldn't Even Imagine</p>
              <p><a href="./rooms.html">We have many more goodies for you all to preform rituals with coming soon.</a></p>
            </div>
          </div>


        </div><!-- .carousel-inner -->
        <!--  next and previous controls here
              href values must reference the id for this carousel -->
          <a class="carousel-control left" href="#slider" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#slider" data-slide="next">&rsaquo;</a>
      </div><!-- .carousel -->
      <!-- end carousel -->
	</div>

	<div class="span4">
		<div class="home4">	
		<div class="tabbable">
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#homedolls" data-toggle="tab">Dolls</a></li>
		    <li><a href="#homepins" data-toggle="tab">Pins</a></li>
		  </ul>
		  <div class="tab-content">
		    <div id="homedolls" class="tab-pane active">
		      <div id="sidehead"> <h3>Recent Dolls</h3> </div>
		      <p>
            <ul>
              <% current_user.dolls.each do |doll| %>
                <li>.
                  <%= link_to doll.name.to_s, doll_url(doll) %>
                  <small><%= doll.pins.count %> pins</small>
                </li>
              <% end %>
            </ul>
          </p>
		    </div>
		    <div id="homepins" class="tab-pane">
        <div id="sidehead"> <h3>Recent Pins</h3> </div>
		      <p>

            <ul>
              <% current_user.pins.each do |pin| %>
                <li><%= link_to pin.id.to_s, doll_url(pin.doll) unless pin.doll.nil? %>
                                  <%= link_to pin.doll.name.to_s, doll_url(pin.doll) unless pin.doll.nil? %>

                </li>

              <% end %>
            </ul>
          </p>
		    </div>
		  </div><!-- /.tab-content -->
		</div><!-- /.tabbable -->

		</div>	
	</div>	
</div>

  <script type="text/javascript">
  $(document).ready(function() {
    $('#slider').carousel({
      interval: 5000
    })
  });
</script>

<div class="row">
	<div class="span4">
		<div class="homesociall">
      <a href="http://www.facebook.com/pages/Black-Voodoo-Pin/228155813990889" target="_blank">
      <div class="icon">   
        <p> Share Anonymously </p>
      </div>
		</a>
    </div>
	</div>
	<div class="span4">
		<div class="homesocialc">
      <a href="http://www.reddit.com/r/blackvoodoopin/" target="_blank">
      <div class="icon">
      <p> Everything Voodoo </p>
      </div>
    </a>
		</div>
	</div>
	<div class="span4">

		<div class="homesocialr">
       <a href="https://twitter.com/VoodooPin" target="_blank">
      <div class="icon">
      <p> Hate-mail Inbox</p>          
      </div>
    </a>
		</div>
	</div>
</div>
  <%= render 'layouts/footer' %> 

</div>



<% else %>	




	<div class="row">
		

		<div class="span8">
			
      <iframe src="http://player.vimeo.com/video/63130759?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="620" height="348" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

		

			<h1> Black Voodoo Pin</h1>

			<p>This site will act as an online social experience where you create and edit other people’s profiles. Essentially it's Facebook turned on its ass. </p>
			<p>BlackVoodooPin.com gives users the ability to create digital voodoo dolls for anyone. This site will offer the ability to create a custom doll, from looks, to name and doll location. Then, users anonymously place pins into the doll and type in whatever they are thinking about that person. 
			</p>
			
<div class="row">
  <div class="span4">
    <div class="homesociall">
      <a href="http://www.facebook.com/pages/Black-Voodoo-Pin/228155813990889" target="_blank">
      <div class="icon">   
        <p> Share Anonymously </p>
      </div>
    </a>
    </div>
  </div>
  
  <div class="span4">

    <div class="homesocialr">
       <a href="https://twitter.com/VoodooPin" target="_blank">
      <div class="icon">
      <p> Hate-mail Inbox</p>          
      </div>
    </a>
    </div>
  </div>
</div>

      
		</div>
		<div class="span1"></div>



		<div class="span3">
			<h4>So now we ask you, are you dark enough?</h4>
			<p>TBy signing the pledge form below you help strengthen the spirits that inhabit this site. Voting black will solidify yourself a spot in the after life. The spirits will be pleased and compensate you with great rewards. 
			</p>
      <div class="btn btn-danger "><%= link_to "Beta Sign Up Now", new_user_registration_path %></div>


			<div id="formhead"> <h3>Pledge Now</h3> </div>

			 
			<iframe height="400" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="http://colorpledge.wufoo.com/embed/z7x3p3/"><a href="http://colorpledge.wufoo.com/forms/z7x3p3/">Black</a></iframe>
		</div>
	</div>




<% end%>







