<div id="top">
	<div id="head">
	<%= image_tag "head.png" %>
	</div>	
</div>

 
<div id="mid">
	<div id="larm">
	<%= image_tag "larm.png" %>
	</div>

		<div id="shirt">
		<%= image_tag "shirt-test.png" %>
			<div id="shirt-color"style="display:none;">
			<a href="#" class="btn small" id="cp4" data-color-format="hex" data-color="rgb(255, 255, 255)">X</a>
			</div>
		</div>

	<div id="rarm">
	<%= image_tag "rarm.png" %> 
	</div>    	
</div>

	<div id="bot">
	<div id="legs">
	<%= image_tag "legs.png" %>
	</div>	
		</div>
		

