<div class="navbar navbar-fixed-top ">
  <div class="navbar-inner">
    <%= link_to image_tag('voodoo.png'), root_path, class: "brand" %>

    <ul class="nav">
    <li><%= link_to "Home", root_path, :class => (@page == 'home' ? 'active' : '') %></li>
    <li><%= link_to "About", about_path, :class => (@page == 'about' ? 'active' : '') %></li>
    <li><%= link_to "New Doll", new_doll_path, :class => (@page == 'newdoll' ? 'active' : '') %></li>

    </ul>


    <ul class="nav pull-right">
      <% if user_signed_in? %>

 <div class="navbar-search pull-left">
      <%= form_tag dolls_path, :method => :get do %>
      <%= text_field_tag :search, params[:search] , :placeholder => 'Search'  %>
      </div>  
      <% end %>


      <li><%= link_to "Edit Profile", edit_user_registration_path %></li> 
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>

      <div class="navbar-search pull-left">
      <%= form_tag dolls_path, :method => :get do %>
      <%= text_field_tag :search, params[:search] , :placeholder => 'Search'  %>
      </div>  
      <% end %>

      <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>

  </div>
</div>




  
